<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>552979493052-6jhnolu53hs1peg6kdee7h4cpi85vgnc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.552979493052-6jhnolu53hs1peg6kdee7h4cpi85vgnc</string>
	<key>API_KEY</key>
	<string>AIzaSyBPYmjztPwiQ7Ied2qBbA42gdUa-_l7tQE</string>
	<key>GCM_SENDER_ID</key>
	<string>552979493052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.everydayactivism.EverydayActivism</string>
	<key>PROJECT_ID</key>
	<string>everyday-activism</string>
	<key>STORAGE_BUCKET</key>
	<string>everyday-activism.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:552979493052:ios:1cd2fffb18276432</string>
	<key>DATABASE_URL</key>
	<string>https://everyday-activism.firebaseio.com</string>
</dict>
</plist>